$yellow: #f9ff01;

.alert-box {
    border: 1px white solid;
    border-radius: 30px;
    color: white;
    a {
        color: $yellow !important;
    }
    [class*="fa-"] {
        font-size: 35px;
    } 
    p {
        font-style: italic;
        font-weight: 500;
        font-size: 1.1em;        
        text-align: initial !important;
    }
}