{% block content %}
<form class="wrapper-form form cpf" cf7="false" autocomplete="off">
    <div class="field-group" data-name="cpf" valid="CNPJ" required="true">
        <input minlength="14" maxlength="14" type="tel" name="field-cnpj" class="field field-cnpj" required="true" placeholder="CNPJ">
    </div>

    <div class="form-submit">
        <button type="submit" class="button button-yellow" title="Prosseguir" aria-label="Prosseguir">
        <span>Prosseguir</span>
        </button>
    </div>
</form>
{% endblock %}