{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set show_as_accordion = content.field_show_as_accordion['#items'].value %}
<section{{ attributes.addClass([content.field_block_custom_classes.0['#context']['value']]) }}>
    <div class="container">
        {% if label_display %}
            <h3 class="mb-3 heading-title">{{ label }}</h3>
        {% endif %}
        {% if show_as_accordion %}
            {% include directory ~ '/templates/partials/accordion/accordion.html.twig' with { 
                view_display: content.field_view_id.0['#context']['value'],
                view_block: content.field_view_display.0['#context']['value'],
                title: label,
                content: FALSE 
            } %}              
        {% else %}
            {{ drupal_view(content.field_view_id.0['#context']['value'], 
            content.field_view_display.0['#context']['value'], 
            content.field_parametros.0['#context']['value']) }}
        {% endif %}
    </div>
</section>
